<div class="overlay">
    <div class="wrap">
        <div class="row">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-12 order-1 text-center rk">
                <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button
                                    class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne">
                                    ABOUT US <i class="fa fa-angle-down"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse"
                            aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body rk">
                                <ul>
                                    <li><a href="about-school.php">About
                                            School</a></li>
                                    <li><a href="our-patron.php">Our Patron
                                            Saint</a></li>
                                    <li><a href="vision-mission.php">Our Vision
                                            & Mission</a></li>
                                    <li><a href="school-emblem.php">School
                                            Emblem</a></li>
                                    <li><a
                                            href="facilities.php">Facilities</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0 h22">
                                <a href="contact.php">Contact Us</a>
                            </h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 rk rkk">
                <h3>Get Direction</h3>
                <div class="desc pt-4 pb-4">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7049.956806288758!2d77.99877226352693!3d27.933307326586927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974a66d84773185%3A0x60a536d6cb055047!2sSt.%20Fidelis%20School!5e0!3m2!1sen!2sin!4v1731391353859!5m2!1sen!2sin"
                        width="600" height="200"
                        style="border:0; border-radius:30px;" class="map"
                        allowfullscreen loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li><a href="https://sfskkkaligarh.org/empapp"
                            target="_blank"><b>- Staff Login</b></a></li>
                    <li><a href="https://sfskkkaligarh.org/parentapp"
                            target="_blank"><b>- Parents Login</b></a>
                    </li>
                    <li><a href="infrastructure.php">- Facilities</a></li>
                    <li><a href="#" class="overlay-link lightbox-image">- 360
                            Virtual Tour</a></li>
                    <li><a
                            href="https://sfskkkaligarh.org/main/registration.aspx"
                            target="_blank">- Admission</a>
                    </li>
                    <li><a href="photo-gallery.php">- Gallery</a></li>
                </ul>
            </div>
            <div class="col-12  order-md-2 order-lg-2 rkk">
                <p class="pt-4  text-left">W2M5+832, Kheda Khush Khabar, Uttar
                    Pradesh 202140</p>
                <p class="pt-4 add text-left">
                    Call: <b style="color:#fff">+91 94121 72600</b><br>
                    Email: <b>sfskaligarhgmail.com</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright-text pt-3">
                    <b>© Copyright 2024-2025 All Rights Reserved by, St. Fidelis
                        School, Kheda, Khush Khabar</b>
                    <br> Designed & Maintained by: <b><a
                            href="https://graphotive.com/"
                            target="_blank">graphotive</a></b>
                </div>
                <div class="copyright-text pb-5">
                    UI/UX Design Copyright

                </div>
            </div>
        </div>
    </div>
</div>