<section class="principal-section centred">
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="message">
                    <h1 class="text-center">A WORD OF</h1>
                    <div class="banner-line2"></div>
                    <div class="product-info-tabs">
                        <div class="product-tab tabs-box text-center ">
                            <ul class="tab-btns tab-buttons clearfix tabcenter">
                                <li class="tab-btn active-btn"
                                    data-tab="#tab-1">Principal's Message</li>
                                <li class="tab-btn"
                                    data-tab="#tab-2">Headmistress's
                                    Message</li>
                            </ul>

                            <div class="tabs-content">
                                <div class="tab clearfix active-tab" id="tab-1">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="massage-box">

                                                <p>Dear Parents,</p>
                                                <p>Greetings from St. Fidelis
                                                    School, Kheda Khush Khabar,
                                                    Aligarh!
                                                </p>
                                                <p>At St. Fidelis, we believe in
                                                    nurturing well-rounded
                                                    individuals
                                                    who are not only
                                                    academically proficient but
                                                    also possess strong
                                                    character and a
                                                    well-developed personality.
                                                    This is the ultimate
                                                    goal we strive for. Our
                                                    carefully designed academic
                                                    and
                                                    co-curricular programs
                                                    empower our students to
                                                    reach their full
                                                    potential and cultivate
                                                    sound work habits. We
                                                    provide
                                                    personalized attention and
                                                    supervision to ensure that
                                                    each child
                                                    receives the guidance and
                                                    support they need to excel.
                                                    <a
                                                        href="principals-message.php"
                                                        class="continue">Continue
                                                        Reading <img
                                                            src="../../assets/images/icons/arrow-conti.svg"></a></p>
                                                <h3>REV. FR. SEBASTIAN
                                                    KOLLITHANAM<br><span>(PRINCIPAL)</span></h3>
                                              
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="principal-photo"><img
                                                    src="../../assets/images/resource/Rev-Fr-Sebastian-Kollithanam.jpg"></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab clearfix" id="tab-2">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="massage-box">
                                                <p>Dear Students, Parents, and
                                                    Staff,</p>
                                                <p>It is with great pride and
                                                    joy that I address you as
                                                    the
                                                    headmistress of St. Fidelis
                                                    School, Kheda Khush Khabar,
                                                    Aligarh.
                                                    Our school is more than just
                                                    a place of learning; it is a
                                                    community that fosters
                                                    curiosity, creativity, and
                                                    character
                                                    development.</p>
                                                <p>At St. Fidelis School, Kheda
                                                    Khush Khabar, Aligarh, we
                                                    believe in
                                                    nurturing every child’s
                                                    potential, encouraging them
                                                    to strive
                                                    for excellence in all
                                                    aspects of their lives—be it
                                                    academics,
                                                    arts, sports, or life
                                                    skills.<a
                                                        href="headmistress-message.php"
                                                        class="continue">Continue
                                                        Reading <img
                                                            src="../../assets/images/icons/arrow-conti.svg"></a></p>
                                                <h3>REV. SR. GRACY
                                                    JOSEPH<br><span>(Headmistress)</span></h3>
                                              
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="principal-photo"><img
                                                    src="../../assets/images/resource/Rev-Sr-Gracy-Joseph-Headmistress.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>