<app-header></app-header>

<section class="page-title centred" style="background-image: url(../../../assets/images/resource/about-school.jpg);">
    <div class="container">
        <div class="content-box">
            <h1>Notice Borad</h1>
            <img src="../../../assets/images/icons/line.svg" style="width:80px;">
            <p>St. Fidelis School, Kheda Khush Khabar, Aligarh</p>
        </div>
    </div>
</section>

<section class="about-section style-two objective-section body-bg notice-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 table-column">
                <div class="inner-box">
                    <div class="billing-info">
                        <h4 class="sub-title">Updated on: {{ noticeBoarddate | date: 'dd MMM, yyyy' }} </h4>
                        <p>{{ noticeBoardtitle }} </p>

                        <iframe [src]='noticeBoardpdf' 
                        width="100%" height="900"></iframe>

                        
                    </div>
                </div>
                <a routerLink="/home/mulitple-pdf" class="view-all-notice">View All Notice <img src="../../../assets/images/icons/btn-arrow.svg"></a>

            </div>


        </div>

    </div>
</section>


<app-footer></app-footer>