<section class="lab-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 pd-0 col-12">
                <div class="title centred">
                    <h1>OUR FACILITIES</h1>
                    <div class="banner-line"></div>
                    <p>THE BEST OF FACILITIES & LATEST TEACHING AIDS</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 pd-0 col-12 wrap-padding">
                <div class="faciText fac-content">
                    <p>Computers are used in almost every walk of life. Actually we live in a time where everything
                        is largely dependent on the digital world. </p>
                    <p>In St. Fidelis school computer lab help the children to get access to the extensive world of
                        information that they desire with the help of computer.</p>

                    <a routerLink="/home/facilities" class="btn-all d-hide">MORE <img src="../../assets/../../assets/images/icons/btn-arrow.svg"
                            style="height:13px"></a>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7 col-md-7 col-12 ">
                <div class="facility-carousel-carousel owl-carousel owl-theme leftspace">
                    <div class="facility-block-two">
                        <!--a routerLink="facilities" class="overlay-link lightbox-image" -->
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/../../assets/images/computerlab/computerlab.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Computer_Lab.svg" style="height:80px">
                                    <h4>COMPUTER<br>LAB</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">
                                </div>
                                <span>
                                    <p>At St. Fidelis School, we understand the essential role of computers in
                                        modern life.</p>
                                    <br>
                                  
                                </span>

                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/../../assets/images/library/library-home.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Library.svg" style="height:80px">
                                    <h4>LIBRARY<br>ROOM</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our library is a vibrant space where students can explore a diverse
                                        collection</p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/../../assets/images/kidscornner/kids-cornner.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Kids_zone.svg" style="height:80px">
                                    <h4>KIDS<br>CORNER</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our spacious playground, complete with a dedicated Kids Corner and swings</p>
                                    <br>
                         
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/mathlab/mathlab.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Maths_Lab.svg" style="height:80px">
                                    <h4>Maths <br>Lab</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our Maths Lab provides a stimulating environment where students can engage
                                    </p>
                                    <br>
                               
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/classroom/classroom.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Class_Room.svg" style="height:80px">
                                    <h4>Class <br>Rooms</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our classrooms are designed for comfort and learning, with features like
                                        ergonomic</p>
                                    <br>
                          
                                </span>
                            </div>

                        </a>
                    </div>

                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/../../assets/images/medicalroom/playground.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/../../assets/images/icons/Medical_Room.svg" style="height:80px">
                                    <h4>Medical<br>ROOM</h4>
                                    <img src="../../assets/../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our medical room is staffed by a qualified nurse and equipped to handle a
                                        range</p>
                                    <br>
                         
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/playground/playground.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Paly_Area.svg" style="height:80px">
                                    <h4>Play <br>Ground</h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>At St. Fidelis School, Aligarh, we believe in the power of play to nurture
                                        well-rounded</p>
                                    <br>
                   
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/basketball/basketball.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Basketball.svg" style="height:80px">
                                    <h4>Basketball <br>Court</h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our basketball court provides a space for students to develop athletic
                                        skills, engage </p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/music/music.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Music_Room.svg" style="height:80px">
                                    <h4>Music <br>Room</h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our music room is a vibrant space where students can explore their musical
                                        talents </p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/dance/dance-room.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Music-Room.svg" style="height:80px">
                                    <h4>Dance <br>Room</h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our dance room is a vibrant space where students can discover the joy of
                                        movement</p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/indoor/indoor.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Indoor_Games.svg" style="height:80px">
                                    <h4>Indoor <br>Games</h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>Our indoor games room, featuring table tennis, carrom, and chess, provides a
                                        space </p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="facility-block-two">
                        <a routerLink="/home/facilities">
                            <div class="labbox" style="background:url(../../assets/images/sefty/sefty.jpg)">
                                <div class="text-area">
                                    <img src="../../assets/images/icons/Security.svg" style="height:80px">
                                    <h4>Safety <br><br></h4>
                                    <img src="../../assets/images/icons/line.svg" style="width:80px">

                                </div>
                                <span>
                                    <p>St. Fidelis School is committed to providing a safe and secure learning
                                        environment. </p>
                                    <br>
                                    <!--img src="../../assets/images/icons/play.svg" style="width:80px"-->
                                </span>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 "><br><br>
            <a routerLink="/home/facilities" class="more m-hide">MORE <img src="../../assets/images/icons/btn-arrow.svg"
                    style="width:30px"></a>
        </div>
    </div>
</section>