<app-header></app-header>

<section class="page-title centred" style="background-image: url(../../../../assets/images/resource/about-school.jpg);">
    <div class="container">
        <div class="content-box">
            <h1>Achievements</h1>
            <img src="../../../../assets/images/icons/line.svg" style="width:80px;">
            <p>St. Fidelis School, Kheda Khush Khabar, Aligarh</p>

        </div>
    </div>
</section>
<!--page title end -->
<section class="about-section style-two objective-section body-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="grid--content">
                    <div class="column--wrapper">
                        <div class="post--item">
                            <a href="sri-harish-chandra-singhal-memorial-sports-tournament.php">
                                <div class="achievements-img-bx">
                                    <img src="../../../../assets/achievement/images/sri-harish-chandra-singhal-memorial-sports-tournament/Basket-ball-Girls-1.jpeg"
                                        alt="">

                                </div>

                                <div class="achievement-text">
                                    <div class="post--title">Sri Harish Chandra Singhal Memorial Sports Tournament
                                        organised by Krishna International School, Aligarh </div>
                                    <p class="f10">Date: <b>17 to 21<sup>th</sup> December, 2024</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="post--item">
                            <a href="open-girls-state-basketball-championship-2023.php">
                                <div class="achievements-img-bx">
                                    <img src="../../../../assets/images/achievement/open_girls_state_basketball_championship_at_greater_noida.jpeg"
                                        alt="">
                                </div>

                                <div class="achievement-text">
                                    <div class="post--title">Open Girls State Basketball Championship at Greater
                                        Noida</div>
                                    <p class="f10">Date: <b>15<sup>th</sup> March, 2023</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="post--item">
                            <a href="youth-basketball-championship-at-meerut-2023.php">
                                <div class="achievements-img-bx">
                                    <img src="../../../../assets/images/achievement/youth-basketball-championship-at-meerut-2023.jpg"
                                        alt="">
                                </div>

                                <div class="achievement-text">
                                    <div class="post--title"> Youth Basketball Championship at Meerut</div>
                                    <p class="f10">Date: <b> 23<sup>rd</sup> July, 2023 </b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-fouricon></app-fouricon>
<app-admission></app-admission>

<app-footer></app-footer>