 <!-- Main Header -->
 <app-header></app-header>
 <!-- End Main Header -->
 
 <!-- Mobile Header -->
 <!-- <header>
     <div class="nav-bg">
         <div class="row">
             <div class="col-lg-6 col-md-4 col-sm-6 col-4 p-0">
                 <a href="index.php" class="home">
                     <img src="images/icons/home.svg" alt="home">
                 </a>
                 <div class="button menu-bg-color">
                     <span class="btn-open" href="#"></span>
                     <span class="btn-close" style="display:none"
                         href="#"></span>
                 </div>
             </div>
             <div class="col-lg-6 col-md-4 col-sm-6 col-4">
                 <div class="nav-logo">
                     <a href="index.php"><img src="images/logo.png" alt></a>
                 </div>
             </div>
             <div class="col-lg-6 col-md-4 col-sm-6 col-4 m-hide">
                 <div class="Subtraction">
                     <a href="#" data-toggle="modal"
                         data-target="#exampleModalCenter">
                         <img src="images/icons/story.svg" alt="Subtraction">
                     </a>
                 </div>
                 <a href="#" class="login dropdown-toggle"
                     data-toggle="dropdown"><img src="images/icons/user.svg"
                         alt></a>
                 <div class="dropdown-menu">
                     <a class="dropdown-item rkline"
                         href="https://sfskkkaligarh.org/parentapp"
                         target="_blank">Parent/student login</a>
                     <a class="dropdown-item"
                         href="https://sfskkkaligarh.org/empapp"
                         target="_blank">Staff Login</a>
 
                 </div>
             </div>
         </div>
     </div>
 </header> -->
 <!-- click menu  desktop-->
 
 <!-- menu start -->
 <!-- <app-navbar></app-navbar> -->
 <!-- menu end -->
 
 <!-- notice-board start -->
 <app-notice-board></app-notice-board>
 <!-- notice-board end -->
 
 <!-- about start -->
 <app-about-us></app-about-us>
 <!-- about end -->
 
 <!-- principle message start -->
 <app-message></app-message>
 <!-- principle message end -->
 
 <!-- facilities start -->
 <app-facilities></app-facilities>
 <!-- facilities end -->
 
 <!-- achievements start -->
 <app-achievements></app-achievements>
 <!-- achievements end -->
 
 <!-- four icon start -->
 <app-fouricon></app-fouricon>
 <!-- four icon end -->
 
 <div class="container">
     <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center p-0">
             <img src="../../assets/images/gallery-bg-top.png">
         </div>
     </div>
 </div>
 
 <!-- gallery start  -->
 <app-photo></app-photo>
 <!-- gallery end -->
 
 <div class="container">
     <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center p-0"
             class="foot">
             <img src="../../assets/images/gallery-bg-bottom.png">
         </div>
     </div>
 </div>
 
 <!--  testimonials start -->
 <app-testimonials></app-testimonials>
 <!--  testimonials end -->
 
 <!-- Admission section start -->
 <app-admission></app-admission>
 <!--  Admission section start -->
 
 <!-- footer start  -->
 <app-footer ></app-footer>
 <!-- footer end  -->
 
 <!-- Modal -->
 <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content rkw">
             <button type="button" class="close colose-pop" data-dismiss="modal"
                 aria-label="Close"
                 style="background-color: #0066b3"><span
                     aria-hidden="true">&times;</span></button>
             <div class="modal-body md-in story-slide modal-body-new">
                 <div class="story__carousel owl-carousel owl-theme ">
 
                     <div class="slide-item">
                         <a href="admission-notice-2025-2026.php"><img
                                 class="card-img-top"
                                 src="../../assets/images/story/story.jpg"></a>
                     </div>
 
                 </div>
             </div>
         </div>
     </div>
 </div>
 
 <div class="bottom-btn">
     <div class="row">
         <div class="col-lg-6 col-6 text-center p-0">
             <a href="https://sfskkkaligarh.org/reg/applicantdetails"
                 target="_blank"><img
                     src="../../assets/images/icons/enroll-online.svg"
                     alt></a>
 
         </div>
         <div class="col-lg-6 col-6 text-center p-0">
             <a href="https://sfskkkaligarh.org/parentapp" target="_blank"><img
                     src="../../assets/images/icons/pay-fees-online.svg"
                     alt></a>
         </div>
 
     </div>
 </div>
 