<section class="admissionn-section centred">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12  offset-lg-1">
                <div class="white-bg">
                    <div class="row">
                        <div
                            class="col-lg-7 col-md-12 order-lg-1 col-12 order-md-2 order-2">
                            <img
                                src="../../assets/images/resource/students-knowing-right-answer.jpg"
                                style="width: 100%;" />
                            <h1 class="work">"From Darkness unto Light"
                                <br><span>#ourmotto</span></h1>
                        </div>
                        <div
                            class="col-lg-5 col-md-12 order-lg-2 col-12 order-md-1 order-1">
                            <div class="title centred">
                                <h1>Admission Open</h1>
                                <div class="banner-line"></div>
                                <p>2025-2026</p>

                                <p class="pb-2">For Nursery, LKG and UKG</p>
                                <a
                                    href="https://sfskkkaligarh.org/reg/applicantdetails"
                                    target="_blank"><img
                                        src="../../assets/images/icons/enroll-online.svg"
                                        style="height:43px;" alt></a><br>
                                <a
                                    href="../../assets/images/notice/terms-and-condition-form.pdf"
                                    target="_blank"
                                    class="adg">Admission Guidelines</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>